<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omtp_factory">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import omtp_factory urdf file -->
    <xacro:include filename="$(find omtp_lecture1_2)/urdf/omtp_factory.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="omtp_factory.ros2_control.xacro" />


    <xacro:omtp_factory_ros2_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
